@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/docallismeonstreet.otf') format('opentype');
  font-weight: bold;
}

.font-luckiest-guy {
  font-family: 'Luckiest Guy', cursive;
}

.font-pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 800;
  font-style: normal;
}

.font-nabla-regular {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
  }

.graffiti-font {
  font-family: 'MyCustomFont', cursive;
  background: linear-gradient(90deg, #ff00ff, #ff4500, #00ff00, #1e90ff, #ff69b4, #ffd700);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 6s ease infinite;
  transform: rotateX(-30deg) rotateY(15deg);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.image-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 400px; /* Max width for larger screens */
  height: auto;
  aspect-ratio: 1 / 1; /* Ensures the element remains a square */
}

.image-container img {
  border-radius: 50%;
  object-fit: contain;
}

/* Navbar Styling */
.navbar {
  background-color: rgba(255, 255, 255, 0.8); /* Light mode background */
  border-radius: 50px; /* Pill-shaped border */
  padding: 15px 20px; /* Adjust padding for better appearance */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for light mode */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.dark .navbar {
  background-color: rgba(51, 65, 85, 0.8); /* Dark mode background */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Dark mode shadow */
}


/* Neumorphic Styles */

.neumorphic-icon {
  background-color: #e0e5ec;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 7px 7px 15px rgba(163, 177, 198, 0.6), -7px -7px 15px rgba(255, 255, 255, 0.5);
  transition: all 250ms ease-in-out;
}

.neumorphic-icon:hover {
  box-shadow: 7px 7px 15px rgba(163, 177, 198, 0.6), -7px -7px 15px rgba(255, 255, 255, 0.5), inset 3px 3px 7px rgba(136, 165, 191, 0.8), inset -3px -3px 7px #ffffff;
}

.dark .neumorphic-icon {
  background-color: #616d81; /* Slightly lighter than slate-900 for contrast */
  box-shadow: 7px 7px 15px rgba(14, 14, 14, 0.6), -7px -7px 15px rgba(45, 45, 45, 0.5);
}

.dark .neumorphic-icon:hover {
  box-shadow: 7px 7px 15px rgba(14, 14, 14, 0.6), -7px -7px 15px rgba(45, 45, 45, 0.5), inset 3px 3px 7px rgba(255, 255, 255, 0.5), inset -3px -3px 7px #0f172a;
}

.neumorphic-button {
  font-size: 1.1rem;
  background-color: #e0e5ec;
  border-radius: 50%;
  padding: 10px 10px;
  box-shadow: 7px 7px 15px rgba(163, 177, 198, 0.6), -7px -7px 15px rgba(255, 255, 255, 0.5);
  transition: all 250ms ease-in-out;
}

.neumorphic-button:hover {
  box-shadow: 7px 7px 15px rgba(163, 177, 198, 0.6), -7px -7px 15px rgba(255, 255, 255, 0.5), inset 3px 3px 7px rgba(136, 165, 191, 0.8), inset -3px -3px 7px #ffffff;
}

.dark .neumorphic-button {
  color: #e0e5ec ;
  background-color: #616d81; /* Slightly lighter than slate-900 for contrast */
  box-shadow: 7px 7px 15px rgba(14, 14, 14, 0.6), -7px -7px 15px rgba(45, 45, 45, 0.5);
}

.dark .neumorphic-button:hover {
  box-shadow: 7px 7px 15px rgba(14, 14, 14, 0.6), -7px -7px 15px rgba(45, 45, 45, 0.5), inset 3px 3px 7px rgba(255, 255, 255, 0.5), inset -3px -3px 7px #0f172a;
}

/* Hover effects */

li:hover .text-2xl {
  transform: rotate(360deg); /* Rotate moon icon on hover */
  transition: transform 0.5s ease;
}

/*GameController Animations*/

.game-controller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
  width: auto;   /* Adjust width if necessary */
}

.game-controller-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* Ensures the image scales while preserving its aspect ratio */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animated-controller {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (hover: hover) {
  .game-controller-container:hover {
    transform: scale(1.1);
  }
}

/*Portfolio Carousel*/

/* Carousel and image styling */
.carousel-container {
  position: relative;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}

.carousel-container:hover {
  transform: scale(0.97);
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6), -7px -7px 15px rgba(255, 255, 255, 0.5), inset 3px 3px 7px rgba(0, 0, 0, 0.8), inset -3px -3px 7px rgba(0, 0, 0, 0.8);
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Arrow styling */
.carousel-arrow {
  position: absolute;
  bottom: 5px; /* Position at the bottom */
  z-index: 100;
  margin: 5px;
  cursor: pointer;
}

.left-arrow {
  left: 10px; /* Position to the left */
}

.right-arrow {
  left: 40px; /* Position to the right of the left-arrow */
}

.arrow-icon {
  color: rgb(103, 102, 102);
  font-size: 25px;
}

/* Button group styling */
.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.icon-button {
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background for better visibility */
}

.icon-button:hover .icon {
  transform: rotate(360deg) scale(1.2);
}

.icon {
  font-size: 1.5rem;
  color: white;
}

/* Specific styles for different icons */
.figma-icon {
  background-color: #f24e1e; /* Figma background */
}

.github-icon {
  background-color: #333; /* GitHub background */
}

.info-icon {
  background-color: #0070f3; /* Info background */
}

.close-icon {
  background-color: #e3342f; /* Close button background */
}

/* Info Popup */
.info-popup {
  position: absolute;
  bottom: 60px;
  right: 10px;
  margin-left: 10px;
  background-color: #0070f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: popup-animation 0.4s ease-in;
  display: inline-block;
  max-width: 50vh;
  max-height: 50vh; /* Adjust to your preferred max height */
}

@keyframes popup-animation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  20% {
    opacity: 0.2;
    transform: translateY(40px);
  }

  40% {
    opacity: 0.4;
    transform: translateY(30px);
  }

  60% {
    opacity: 0.6;
    transform: translateY(20px);
  }

  80% {
    opacity: 0.8;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-content {
  position: relative;
}

.popup-header {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ffffff;
}

.info-text {
  color: #ffffff;
  font-size: 0.75rem;
  text-align: left;
  font-weight: normal;
}

/* Scroll-to-Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #e0e5ec;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 7px 7px 15px rgba(163, 177, 198, 0.6), -7px -7px 15px rgba(255, 255, 255, 0.5);
  transition: all 250ms ease-in-out;
  z-index: 1000;
  cursor: pointer;
}

.scroll-to-top:hover {
  box-shadow: 7px 7px 15px rgba(163, 177, 198, 0.6), -7px -7px 15px rgba(255, 255, 255, 0.5), inset 3px 3px 7px rgba(136, 165, 191, 0.8), inset -3px -3px 7px #ffffff;
  transform: scale(1.1);
}

.dark .scroll-to-top {
  background-color: #616d81;
  box-shadow: 7px 7px 15px rgba(14, 14, 14, 0.6), -7px -7px 15px rgba(45, 45, 45, 0.5);
}

.dark .scroll-to-top:hover {
  box-shadow: 7px 7px 15px rgba(14, 14, 14, 0.6), -7px -7px 15px rgba(45, 45, 45, 0.5), inset 3px 3px 7px rgba(5, 5, 5, 0.8), inset -3px -3px 7px #1b1b1b;
  transform: scale(1.1);
}